:root {
  color-scheme: light dark;
  overflow-wrap: break-word;
}

html.popout body {
  /* Required for the popout to not show */
  overflow-x: hidden;
  scrollbar-gutter: stable;

  /* Required for automatic popout resizing */
  height: 100vh;
}

html:not(.popout) body {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}