@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #171717;
  --background-light: #FFFFFF;
}

html {
  background-color: var(--background-light);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--background-dark);
  }
}