@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-values: 12 12 12;
  --background-light-values: 255 255 255;
  --background-dark: rgb(var(--background-dark-values));
  --background-light: rgb(var(--background-light-values));
}

html {
  background-color: var(--background-light);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--background-dark);
  }
}
